include *.rst
include LICENSE
include mne_hfo/__init__.py
include Pipfile
include Pipfile.lock
include data/README
include data/.bidsignore
include *.txt

recursive-include examples *.py
recursive-include examples README.rst

recursive-include mne_hfo *.py

recursive-include data *.eeg
recursive-include data *.json
recursive-include data *.tsv
recursive-include data *.vhdr
recursive-include data *.vmrk

include mne_hfo/assets/*

### Exclude

exclude .zenodo*
exclude .github
exclude .github/PULL_REQUEST_TEMPLATE.md
exclude Makefile
exclude CONTRIBUTING.md
exclude *.yml
exclude .mailmap
exclude paper
exclude ignore_words.txt
exclude data
recursive-exclude mne_bids *.pyc

recursive-exclude docs *
recursive-exclude paper *

exclude test_requirements.txt
