[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
scikit-learn = "*"
pandas = "*"
mne = "*"
mne-bids = "*"
matplotlib = "*"
joblib = "*"

[dev-packages]

[requires]
python_version = "3.8"
