[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
scikit-learn = "*"
pandas = "*"
mne = "*"
mne-bids = "*"
matplotlib = "*"
joblib = "*"
tqdm = "*"
ipykernel = "*"

[dev-packages]
pytest = "*"
pytest-sugar = "*"
pytest-cov = "*"
flake8 = "*"
numpydoc = "*"
sphinx-gallery = "*"
sphinx-bootstrap-theme = "*"
sphinx = "*"
pydocstyle = "*"
codespell = "*"
check-manifest = "*"
pytest-benchmark = "*"

[requires]
python_version = "3.8"
