[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
scikit-learn = "*"
pandas = "*"
mne = ">=0.22"
mne-bids = ">=0.6"
matplotlib = "*"
joblib = ">=1.0.0"
tqdm = "*"
pydocstyle = "*"

[dev-packages]
ipykernel = "*"
pytest = "*"
pytest-sugar = "*"
pytest-cov = "*"
flake8 = "*"
numpydoc = "*"
sphinx-gallery = "*"
sphinx-bootstrap-theme = "*"
sphinx = "*"
pydocstyle = "*"
codespell = "*"
check-manifest = "*"
pytest-benchmark = "*"
mypy = "*"
nbsphinx = "*"
sphinx-copybutton = "*"
pipfile-requirements = "*"
pandoc = "*"
sphinx-autodoc-typehints = "*"
typing-extensions = "*"

[requires]
python_version = "3"
