# See: https://circleci.com/blog/deploying-documentation-to-github-pages-with-continuous-integration/
version: 2.1

jobs:
  docs-build:
    docker:
      - image: circleci/python:3.8.1-buster
    environment:
      CODECOV_TOKEN: "895aebcc-753e-49f2-b964-b70d38d471c4"
    steps:
      - checkout

      # make sure pandoc is on the system
      - run: sudo apt-get update && sudo apt-get install -y pandoc

      # restore cache from last build. Unless __init__.py has changed since then
      - restore_cache:
          keys:
            - data-cache-0-{{ checksum "./mne_hfo/__init__.py" }}

      # Also restore pip cache to speed up installations
      - restore_cache: # ensure this step occurs *before* installing dependencies
          keys:
            # when lock file changes, use increasingly general patterns to restore cache
            - pip-packages-v1-{{ .Branch }}-{{ checksum "Pipfile.lock" }}
            - pip-packages-v1-{{ .Branch }}-
            - pip-packages-v1-

      - run:
          name: Setup Python environment via Pipenv
          command: |
            sudo pip install --upgrade pip
            sudo pip install pipenv
            pipenv install --skip-lock --dev

      - run:
          name: Run unit and integration tests
          command: |
            pipenv run make pep
            pipenv run pytest --cov=mne_hfo ./tests/ --cov-report=xml --cov-config=setup.cfg --verbose

      - run:
          name: Build the documentation
          command: |
            pipenv run make build-doc

      - persist_to_workspace:
          root: docs/_build
          paths: html

      - store_artifacts:
          path: docs/_build/html/
          destination: dev

      - store_artifacts:
          path: ./coverage.xml

      - run:
          name: Upload codecov report
          command: |
            bash <(curl -s https://codecov.io/bash)

#      - run:
#          name: Check links
#          command: |
#            pipenv run make -C doc clean
#            pipenv run make -C docs linkcheck
#            pipenv run make -C doc linkcheck-grep

      - save_cache:
          key: pip-packages-v1-{{ .Branch }}-{{ checksum "Pipfile.lock" }}
          paths:
            - "~/.local/share/virtualenvs/venv"

  docs-deploy:
    # will only be run on master branch
    docker:
      - image: node:8.10.0
    steps:
      - checkout

      - attach_workspace:
          at: docs/_build

      - run:
          name: Install and configure dependencies
          command: |
            npm install --global gh-pages@3.0
            git config --global user.email "circle@mne.com"
            git config --global user.name "Circle Ci"

      - add_ssh_keys:
          fingerprints:
            - "35:48:e2:58:4c:3f:44:b9:0e:64:40:60:06:d2:1f:bf"

      - run:
          # push built docs into the `dev` directory on the `gh-pages` branch
          name: Deploy docs to gh-pages branch
          command: gh-pages --dotfiles --message "doc updates [skip ci]" --dist docs/_build/html --dest ./dev

workflows:
  commit:
    jobs:
      - docs-build
      - docs-deploy:
          requires:
            - docs-build
          filters:
            branches:
              only: master

  scheduled:
    jobs:
      - docs-build

    triggers:
      - schedule:
          cron: "0 4 * * *"
          filters:
            branches:
              only:
                - master
