# See: https://circleci.com/blog/deploying-documentation-to-github-pages-with-continuous-integration/
version: 2.1

jobs:
  unit-test:
    docker:
      - image: circleci/python:3.8.1-buster
    environment:
      CODECOV_TOKEN: "24ebd27b-4413-4e7e-acbd-46499658bd1e"
    steps:
      - checkout

      # make sure pandoc is on the system
      - run: sudo apt-get update && sudo apt-get install -y pandoc

      # restore cache from last build. Unless __init__.py has changed since then
      - restore_cache:
          keys:
            - data-cache-0-{{ checksum "./mne_hfo/__init__.py" }}

      # Also restore pip cache to speed up installations
      - restore_cache: # ensure this step occurs *before* installing dependencies
          keys:
            # when lock file changes, use increasingly general patterns to restore cache
            - pip-packages-v1-{{ .Branch }}-{{ checksum "Pipfile.lock" }}
            - pip-packages-v1-{{ .Branch }}-
            - pip-packages-v1-

      - run:
          name: Setup Python environment via Pipenv
          command: |
            sudo pip install --upgrade pip
            sudo pip install pipenv
            pipenv install --skip-lock --dev

      - run:
          name: Run unit and integration tests
          command: |
            pipenv run make pep
            pipenv run pytest --cov=mne_hfo ./tests/ --cov-report=xml --cov-config=setup.cfg --verbose

      - run:
          name: Build the documentation
          command: |
            pipenv run make build-doc

      - persist_to_workspace:
          root: doc/_build
          paths: html

      - store_artifacts:
          path: doc/_build/html/
          destination: dev

      - store_artifacts:
          path: ./coverage.xml

      - run:
          name: Upload codecov report
          command: |
            bash <(curl -s https://codecov.io/bash)

      - run:
          name: Check links
          command: |
            make -C doc clean
            make -C doc linkcheck
            make -C doc linkcheck-grep

      # Store the data cache
      - save_cache:
          key: data-cache-0-{{ checksum "./mne_hfo/__init__.py" }}
          paths:
            - ~/mne_data

      - save_cache:
          key: pip-packages-v1-{{ .Branch }}-{{ checksum "Pipfile.lock" }}
          paths:
            - "~/.local/share/virtualenvs/venv"

  docs-deploy:
    # will only be run on master branch
    docker:
      - image: node:8.10.0
    steps:
      - checkout

      - attach_workspace:
          at: doc/_build

      - run:
          name: Install and configure dependencies
          command: |
            npm install -g --silent gh-pages@2.2
            git config --global user.email "adam2392@gmail.com"
            git config --global user.name "Circle Ci"

      - add_ssh_keys:
          fingerprints:
            - "4b:5a:c1:a6:fd:bf:23:0e:54:ae:c1:5c:0c:39:eb:ce"

      - run:
          # push built docs into the `dev` directory on the `gh-pages` branch
          name: Deploy docs to gh-pages branch
          command: gh-pages --dotfiles --message "doc updates [skip ci]" --dist doc/_build/html --dest ./dev

workflows:
  commit:
    jobs:
      - unit-test
      - docs-deploy:
          requires:
            - unit-test
          filters:
            branches:
              only: master

  scheduled:
    jobs:
      - unit-test

    triggers:
      - schedule:
          cron: "0 4 * * *"
          filters:
            branches:
              only:
                - master
